.results table {
  color: var(--clr-accent-500);
  background: none;
  padding: 1.25rem;
  width: 100%;
  text-align: center;
}

.results th {
  padding: 0.5rem 0;
}

.results td {
  color: var(--clr-neutral-200);
  font-size: var(--fs-400);
  font-weight: var(--fw-600);
  padding: 0.5rem 0;
}
