* {
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1280px;
  height: calc(100vh - 2rem);
  margin: 0 auto;
  padding-top: 2rem;

  font-size: 1.5rem;

  display: grid;
  grid-template-columns: 3fr 7fr;
}

ul,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

aside {
  --btn-bg: gray;
  --btn-fg: white;
  background-color: rgb(22, 22, 21);
  color: white;
  border-top-right-radius: 20px;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

aside li {
  color: white;
  padding: 0.5rem 0.25rem;
  border-radius: 5px;
}

aside li:hover,
aside li:focus,
aside li.active {
  background-color: rgb(35, 34, 34);
}

main {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project-detail {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  padding-bottom: 1rem;
  border-bottom: 2px solid rgba(110, 108, 108, 0.5);
}

.project-header {
  --btn-bg: rgb(206, 206, 203);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dueDate {
  font-size: 1.25rem;
  color: rgb(169, 167, 167);
  transform: translateY(-10px);
}

.tasks {
  --btn-bg: rgb(206, 206, 203);

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.task-form {
  display: flex;
  gap: 2rem;
}

.task-list {
  padding: 1rem;
  font-size: 1.15rem;
  font-weight: 600;
  background-color: rgba(228, 226, 226, 0.5);
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}

.task-list > li {
  padding: 0.35rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.task-list > li:hover,
.task-list > li:focus {
  background-color: rgb(206, 206, 203);
}

.new-project {
  --btn-bg: rgb(57, 55, 55);
  --btn-fg: white;
  --padding-v: 0.75rem;
  --padding-h: 1.5rem;
  --br: 7.5px;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 4rem;
}

.new-project .form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.new-project .project-form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

#projectDescription {
  --lh: 100px;
  resize: none;
  scroll-behavior: auto;
}

.new-project .project-form label {
  display: block;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
}
