.btn {
  display: inline-block;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  background-color: transparent;

  padding: 0.35rem 0.7rem;
  border-radius: 10px;
}

.btn:hover,
.btn:focus {
  background-color: var(--btn-bg);
}
