.btn {
  display: inline-block;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  background-color: transparent;

  padding: var(--padding-v, 0.35rem) var(--padding-h, 0.7rem);
  border-radius: var(--br, 10px);
}

.btn:hover,
.btn:focus {
  background-color: var(--btn-bg);
  color: var(--btn-fg);
}
